/tools/certgen/*.key
/tools/certgen/*.crt
/tools/certgen/*.csr
/tools/certgen/*.pfx
artifacts
/src/NexNetDemo/Properties/launchSettings.json

# Performance benchmark results
/src/NexNet.PerformanceBenchmarks/Results/
