name: Build, Pack & Publish

on:
  push:
    branches:
      - 'master'
    tags:
      - 'v*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    runs-on: ubuntu-latest
                             
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        submodules: 'recursive'

    - name: Install msquic
      run: sudo apt install libmsquic=2.4.8

    - name: Install .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.*'
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}

    - name: Build
      run: dotnet build src -c Release --maxcpucount:1
      
    - name: Execute integration tests
      run: dotnet test src/NexNet.IntegrationTests -c Release --no-build -v=normal

    - name: Execute generator tests
      run: dotnet test src/NexNet.Generator.Tests -c Release --no-build -v=normal
      
    - name: Pack NexNet
      run: dotnet pack src/NexNet -c Release -o ./artifacts --maxcpucount:1

    - name: Pack NexNet.Quic
      run: dotnet pack src/NexNet.Quic -c Release -o ./artifacts --maxcpucount:1

    - name: Pack NexNet.Asp
      run: dotnet pack src/NexNet.Asp -c Release -o ./artifacts --maxcpucount:1
      
    - name: Pack NexNet.Generator
      run: dotnet pack src/NexNet.Generator -c Release -o ./artifacts --maxcpucount:1
      
    - name: Export artifacts
      uses: actions/upload-artifact@v4
      with:
        path: artifacts/*
        
    - name: Create release
      uses: softprops/action-gh-release@v1
      if: startsWith(github.ref, 'refs/tags/')
      with:
        name: "NexNet ${{ github.ref_name }} Released"
        files: |
          artifacts/*.nupkg
          artifacts/*.snupkg
      
    - name: Push NuGet packages
      if: startsWith(github.ref, 'refs/tags/')
      run: dotnet nuget push artifacts/**/*.nupkg --api-key ${{ secrets.ORG_NUGET_AUTH_TOKEN }} --skip-duplicate
